<header class="navbar navbar-fixed-top navbar-inverse">
      <dt class="text-primary"> Price Comparator</dt>
      <dd class="text-primary"> Lets check the best prices..!!</dd>
  <nav>
    <ul class="nav navbar-nav navbar-right">
      <li class="text-primary"><%= link_to "Home", root_path %></li>
      <li class="text-primary"><%= link_to "Log in", login_path %></li>
      <li class="text-primary"><%= link_to "Sign Up", signup_path %></li>
    </ul>
  </nav>
    </header>
