<%= render "form"%>

<div class="col-md-2">
  <ul class="list-group">
    <li class="list-group-item disabled"><center>Electronics</center></li>
    <li class="list-group-item"><center>Tablets</center></li>
    <li class="list-group-item"><center>Laptops</center></li>
    <li class="list-group-item"><center>Monitors</center></li>
    <li class="list-group-item"><center>Tv's</center></li>
    <li class="list-group-item"><center>Projectors</center></li>
    <li class="list-group-item"><center>Audio Speakers & Sound</center></li>
    <li class="list-group-item"><center>Systems</center></li>
    <li class="list-group-item"><center>Computer Accessories</center></li>
    <li class="list-group-item"><center>Storage & DevicesM</center></li>
    <li class="list-group-item"><center>DSLR's & Cameras</center></li>
    <li class="list-group-item"><center>Gaming</center></li>
    <li class="list-group-item"><center>Printers & Scanners</center></li>
    <li class="list-group-item"><center>Watches & Wearables</center></li>
    <li class="list-group-item"><center>Trimmers</center></li>
    <li class="list-group-item"><center>Security Cams & Accessories</center></li>
    <li class="list-group-item"><center>Vaccume Cleaners</center></li>
  </ul>
</div>
<div class="col-md-2">
  <ul class="list-group">
    <li class="list-group-item disabled"><center>Home</center></li>
    <li class="list-group-item"><center>Furniture</center></li>
    <li class="list-group-item"><center>Matress</center></li>
    <li class="list-group-item"><center>Lightning</center></li>
    <li class="list-group-item"><center>Air Conditioners</center></li>
    <li class="list-group-item"><center>Freezers</center></li>
    <li class="list-group-item"><center>Kitchen & Dining</center></li>
    <li class="list-group-item"><center>Lugguage & Handbags</center></li>
  </ul>
</div>
<div class="col-md-2">
  <ul class="list-group">
    <li class="list-group-item disabled"><center>Grocery</center></li>
    <li class="list-group-item"><center>Drinking Water</center></li>
    <li class="list-group-item"><center>Dairy Products</center></li>
    <li class="list-group-item"><center>Juice</center></li>
    <li class="list-group-item"><center>Napkins & tissues</center></li>
    <li class="list-group-item"><center>Canned Food</center></li>
    <li class="list-group-item"><center>Detergents & Freshners</center></li>
  </ul>
</div>
<div class="col-md-2">
  <ul class="list-group">
    <li class="list-group-item disabled"><center>Health and Beauty</center></li>
    <li class="list-group-item"><center>Skin Care</center></li>
    <li class="list-group-item"><center>Hair Care</center></li>
    <li class="list-group-item"><center>Mouth Care</center></li>
    <li class="list-group-item"><center>Deodrants</center></li>
  </ul>
</div>
<div class="col-md-2">
  <ul class="list-group">
    <li class="list-group-item disabled"><center>Services</center></li>
    <li class="list-group-item"><center>Cleaning Services</center></li>
    <li class="list-group-item"><center>Internet & Phone</center></li>
    <li class="list-group-item"><center>Packers & Movers</center></li>
    <li class="list-group-item"><center>Security</center></li>
    <li class="list-group-item"><center>Fitness</center></li>
    <li class="list-group-item"><center>Plumbing</center></li>
    <li class="list-group-item"><center>Home Repairs</center></li>
  </ul>
</div>
<div class="col-md-2">
  <ul class="list-group">
    <li class="list-group-item disabled"><center>Apartments Near You</center></li>
    <li class="list-group-item"><center>Apartments for rent</center></li>
  </ul>
</div>
